body{
background: #222835 url('images/dark.png');

top:20px;
width:700px;
	margin:auto;

}

.reservation_title{
	display:block;
	margin:auto;
	width:100%;
}

.reservation_fill{
	
	
	
	padding-left:450px;
	}
#ff{
		width:250px;
		margin-bottom:100px;}
.session{
	
	padding-top: 69px;
}
#nn{
	margin-top:20px;}
#Reservation{
	text-align:center;
	
	font: 25pt white;
	color: white;
	bottom: 20px;
}
.note{
	
	
	text-align:center;
	color:#CCC;
	
	font-size: 17pt;
}
.note strong{
	color:#e97770;}
	
	#submit{
		color:#333}
